// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$sassyLarge: 1280;
$sassyMed: 1040;
$sassySmall: 600;
$sassyXSmall: 400;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 20;
$midlargeSize: 28;
$largeSize:40;
$largestSize: 50;
$buttonSize: 30;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;
$textfont:'Montserrat', sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;
$full-width: 100%;

//-----------------------------------------------------------------------
 //Color
//-----------------------------------------------------------------------
$text-color: #FBA262;
$link-color: black;
$link-color-hover: #C30000;

