button{
	height:40px;
	width:90px;
	color:black;
	border:none;
	@include rem('font-size', 30);
	@include roundedCorners(5);
	@include single-transition(all, .2s, linear, 0s);
	@include box-shadow(1px, 2px, 2px, 2px, #000);
	outline:none;
	
}

.start,.pause{
	background-color: #E01F1F;
	

	&:focus, &:active{
		transform:translate(1px,1px);
		color:white;
		@include box-shadow(0px, 1px, 1px, 1px, #fff);
	}
}

.reset{
	background-color: #4848AF;
	margin-left:10px;
	&:focus, &:active{
		transform:translate(1px,1px);
		color:white;
		@include box-shadow(0px, 1px, 1px, 1px, #fff);
	
	}
}
